.butt{
    border-radius: 6px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    width: 200px;

    border: 4px solid #203239;
    background-color: #203239 ;
    color: #E0DDAA ;
   
}
#buttons123{
    display: flex;
    flex-direction: column;
}
#cont{
    font-family: 'Abril Fatface', cursive;
}